*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #777;
}

h1 {
	padding-top: 30px;
}

#container {
	width: 768px;
	height: 100vh;
	margin: 0 auto;
	background-color: #eee;
	padding-left: 70px;
}

#text, #typed {
	font-size: 1.5em;
	border-radius: 10px;
	padding-top: 30px;
	padding-left: 30px;
}

#text {
	width: 600px;
	height: 100px; 
	margin: 50px 0;
	background-color: #aaa;
}

#typed {
	width: 600px;
	height: 300px;
	background-color: #fff;
	margin: 50px 0;
}